{{ partial "head" . }}

{{if ne .Site.Params.singleViewStyle "casper"}}<body class="ctsingle">
{{else}}<body class="post-template nolinks">{{end}}
  <div class="site-wrapper"> 

{{if ne .Site.Params.singleViewStyle "casper"}}{{ partial "header" . }}
{{else}}{{ partial "header-sori" . }}{{end}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    {{if ne .Site.Params.singleViewStyle "casper"}}
    <div class="post-feed">
      {{ partial "snippet-single" . }}
    </div>

    <nav class="pagination" role="navigation">
      {{if .NextInSection}}
          <a class="newer-posts" href="{{ .NextInSection.RelPermalink }}">&larr; <span class="hide">Next Post</span></a>
      {{end}}
      <span class="page-number">&nbsp;</span>
      {{if .PrevInSection}}
          <a class="older-posts" href="{{ .PrevInSection.RelPermalink }}"><span class="hide">Previous Post</span> &rarr;</a>
      {{end}}
    </nav>

    {{else}}
      {{ partial "snippet-single-sori" . }}
    {{end}}

  </div>
</main>

{{if eq .Site.Params.singleViewStyle "casper"}}
<aside class="read-next outer">
  <div class="inner">
    <div class="read-next-feed">      
      {{ partial "readnext-random-snippet-sori" . }}
      {{with .NextInSection}}
      {{ partial "readnext-article-snippet-sori" . }}
      {{end}}
      {{with .PrevInSection}}
      {{ partial "readnext-article-snippet-sori" . }}
      {{end}}
    </div>
  </div>
</aside>

{{ partial "header-floating-sori" . }}
{{end}}

{{ partial "footer" . }}
</div>
{{ partial "js" . }}
{{if eq .Site.Params.singleViewStyle "casper"}}{{ partial "js-sori" . }}{{end}}
{{ if .Keywords }}<div id="keywords" style="position: fixed; bottom: 0; transform: translateY(100%);"><span>{{ delimit .Keywords ", " }}</span><span>{{ delimit .Keywords ", " }}</span><span>{{ delimit .Keywords ", " }}</span></div>{{ end }}
</body></html>