{{ partial "head" . }}

{{if eq .Site.Params.singleViewStyle "casper"}}
  <body class="tag-template">
  {{ partial "header-sori-tag" . }}
{{else}}
  <body class="home-template">
  {{ partial "header" . }}
{{end}}

<main id="site-main" style="padding-bottom: 12vw;" class="site-main outer" role="main">
  <div class="inner">
    {{ if (where .Pages "Section" "snippet") }}
      <div class="post-feed">
        {{ partial "snippet-list" . }}
      </div>

    {{ else }}
      <div class="post-feed">
        {{ partial "post-list" . }}
      </div>
    {{ end }}

  </div>
</main>

    <nav class="pagination" role="navigation">
      {{if .Paginator.HasPrev}}
      <a class="newer-posts" href="{{ .Paginator.Prev.URL }}">&larr; <span class="hide">Next Posts</span></a>
      {{end}}
      <span class="page-number"><span class="hide">Page {{ .Paginator.PageNumber }} of {{.Paginator.TotalPages}}</span>&nbsp;</span>
      {{if .Paginator.HasNext}}
      <a class="older-posts" href="{{ .Paginator.Next.URL }}"><span class="hide">Previous Posts</span> &rarr;</a>
      {{end}}
    </nav>
    
{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
