<article class="post-full post page no-image"> 
    <header class="post-full-header">
        <h1 class="post-full-title">{{.Title | title}}</h1>
    </header>
    {{if .Params.image}}
    <div class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </div>{{else if or .Site.Params.randomFallbackImagesPage .Params.randomFallbackImage}}
    <div class="post-full-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
    </div>{{end}}
    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Content}}
        </div>
    </section>
</article>