{{ $pages := ((where (where .Site.Pages "Params.layout" "post") ".Params.image" "!=" nil) | shuffle) }}
{{ range first 3 $pages}} 

<article class="post-card post"> 
    {{if .Params.image}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
    </a>
    {{else}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
    </a>
    {{end}}

    <div class="post-card-content">
        <div class="post-card-content">
            <div class="post-card-content-link">
              {{if .Params.tags }}
              <span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
                <a href="/tags/{{lower $tag}}"> #{{$tag}}</a>{{end}} </span>
              {{ end }}
              <a href="{{ .Permalink }}" style="text-decoration: none; color: rgb(21,23,26)">
                <header class="post-card-header">
              <h2 class="post-card-title">{{.Title}}</h2>

            </header>
            <section class="post-card-excerpt" style="color:  rgb(60,72,78)">
              {{ if .Description }}
                <p>{{ .Description | markdownify }}</p>
              {{else}}
                <p>{{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{end}} </p>
              {{end}}
            </section>
          </a>
        </div>

      <footer class="post-card-meta">
        {{$author := (index (where .Site.Params.authors "name" .Params.author) 0)}}
        <img class="author-profile-image" src="{{ ($author.image | default .Site.Params.authorAvatar) | absURL}}"
          alt="Author" />
        <span class="post-card-author"><a href="/authors/{{$author.nick}}">{{.Params.author | default .Site.Params.author}}</a></span>

        {{ $section := .Site.GetPage "section" .Section }}
        {{/*
        Show "reading time" and "word count" but only if one of the following are true:
        1) A global config `params` value is set `show_reading_time = true`
        2) A section front matter value is set `show_reading_time = true`
        3) A page front matter value is set `show_reading_time = true`
        */}}
        {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span class="read-count" style="float:right;"> {{ .ReadingTime}} minutes read | {{ .WordCount}} words</span>
        {{ end }}

      </footer>
    </div>
</article>
{{ end }}
