<article class="post-card post">
    {{if .Params.image}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
        <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
    </a>
    {{else}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
        <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
    </a>
    {{end}}
    <div class="post-card-content">
      <a class="post-card-content-link" href="{{ .Permalink }}">
          <header class="post-card-header">
              {{ dateFormat "Mon Jan 2 2006" .Params.date }}
              {{if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
              #{{$tag}} {{end}} </span>
              {{ end }}
              <h2 class="post-card-title">{{.Title}}</h2>
          </header>
          <section class="post-card-excerpt">
              {{ if .Description }} 
                <p>{{ .Description | markdownify }}</p>
              {{else}}
                <p>{{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{end}} </p>
              {{end}}
          </section>
      </a>

        <footer class="post-card-meta">
                {{$author := (index (where .Site.Params.authors "name" .Params.author) 0)}}
                <img class="author-profile-image" src="{{ ($author.image | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
                <span class="post-card-author"><a href="/authors/{{$author.nick}}">{{.Params.author | default .Site.Params.author}}</a></span>
            
            
            {{ $section := .Site.GetPage "section" .Section }}
            {{/*
            Show "reading time" and "word count" but only if one of the following are true:
            1) A global config `params` value is set `show_reading_time = true`
            2) A section front matter value is set `show_reading_time = true`
            3) A page front matter value is set `show_reading_time = true`
            */}}
            {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
            <span class="read-count" style="float:right;"> {{ .ReadingTime}} minutes read | {{ .WordCount}} words</span>
            {{ end }}
        </footer>
    </div>
</article>
