{{$author := (index (where .Site.Params.authors "name" .Params.author) 0)}}

<article class="post-card post page no-image"> 
    {{if .Params.image}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
    </a>
    {{else}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
    </a>    
    {{end}}

    <div class="post-card-content">
      <div class="post-card-content-link">
        {{if .Params.date }}
          <span class="post-card-date">{{ dateFormat "Mon Jan 2 2006" .Params.date }}</span>
        {{end}}

        {{if .Params.tags }}
          <span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
          <a href="/tags/{{lower $tag}}">#{{$tag}}</a>{{end}} </span>
        {{ end }}
          <a href="{{ .Permalink }}" style="text-decoration: none; color: rgb(21,23,26)">
          <header class="post-card-header">
            <h2 class="post-card-title">{{.Title}}</h2>
          </header>
          </a>
      </div>
  
      <section class="post-card-excerpt" style="padding: 0 25px;">
          {{ .Content }}
      </section>

      <footer class="post-card-meta">
          <img class="author-profile-image" src="{{ ($author.image | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
          <span class="post-card-author"><a href="{{$.Site.BaseURL}}/authors/{{$author.nick}}">{{.Params.author | default .Site.Params.author}}</a></span>
      </footer>
    </div>
</article>
